.container {
    display: grid;
    grid-template-areas: 'logo searchbar searchbar icons'
                '. links links-two .'
                '. results results .'
                '. footer footer .';

}
.item1 {
    grid-area: 
}
.item2 {
    grid-area:
}
.item3 {
    grid-area:
}
.item4 {
    grid-area:
}